
calib/calib/x64/Debug/

*.dll

*.lib

calib/\.vs/

TrakingMotion/\.vs/

TrakingMotion/x64/Debug/

TrakingMotion/TrakingMotion/x64/Debug/

calib/x64/

*.avi

TrakingMotion/TrakingMotion/mousetracking\.cpp

TrakingMotion/TrakingMotion/mousetracking\.h
